<!DOCTYPE html>
<html xmlns:th="https:www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>department_details</title>
</head>
<body>
<th:block th:insert="Header.html"></th:block>
	<div class="container-fluid">


		<div class="card-body">
			<form action="/department" method="post">

				<div class="card-header text-center text-White bg-primary">
					<h5>Department Details</h5>

				</div>


				<div class="card-body">
					<div class="row p-2">
						<div class="col-4">
							<b>Department Name</b>
						</div>
						<div class="col-6">
							<input type="text" name="dept_name" class="form-control">
						</div>
						<div class="card-body">
							<div class="row p-2">
								<div class="col-4">
									<b>Department Head(HoD)</b>
								</div>
								<div class="col-6">
									<input type="text" name="dept_head" class="form-control">
								</div>

							</div>
							<div class="row p-2">
								<div class="col-4">
									<b>Department Phone</b>
								</div>
								<div class="col-6">
									<input type="text" name="dept_phone" class="form-control">
								</div>
							</div>



							<div class="row p-2">
								<div class="col-4"></div>
									<div class="col-6">
										<input type="Submit" value="Add" class="btn btn-success">
									</div>
								</div>
							</div>
						</div>
					</div>
				
			</form>
		</div>


		<div class="card-footer  bg-warning text-center">
			bin-copyright@2024</div>

	</div>


</body>
</html>